<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/style-admin.css" />
  </head>
  <body>
    <div class="admin-login-container">
      <h2>Admin Login</h2>
      <form method="POST" action="/admin/login" class="admin-login-form">
        <label
          >Username
          <input type="text" name="username" required />
        </label>
        <label
          >Password
          <input type="password" name="password" required />
        </label>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
