<div class="table-responsive">
<table id="accidents-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Source</th>
      <th>Severity</th>
      <th>Start_Time</th>
      <th>End_Time</th>
      <th>Start_Lat</th>
      <th>Start_Lng</th>
      <th>End_Lat</th>
      <th>End_Lng</th>
      <th>Distance(mi)</th>
      <th>Description</th>
      <th>Street</th>
      <th>City</th>
      <th>County</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Country</th>
      <th>Timezone</th>
      <th>Airport_Code</th>
      <th>Weather_Timestamp</th>
      <th>Temperature_F</th>
      <th>Wind_Chill_F</th>
      <th>Humidity_Percent</th>
      <th>Pressure_In</th>
      <th>Visibility_Mi</th>
      <th>Wind_Direction</th>
      <th>Wind_Speed_Mph</th>
      <th>Precipitation_In</th>
      <th>Weather_Condition</th>
      <th>Amenity</th>
      <th>Bump</th>
      <th>Crossing</th>
      <th>Give_Way</th>
      <th>Junction</th>
      <th>No_Exit</th>
      <th>Railway</th>
      <th>Roundabout</th>
      <th>Station</th>
      <th>Stop</th>
      <th>Traffic_Calming</th>
      <th>Traffic_Signal</th>
      <th>Turning_Loop</th>
      <th>Sunrise_Sunset</th>
      <th>Civil_Twilight</th>
      <th>Nautical_Twilight</th>
      <th>Astronomical_Twilight</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
</div>
