<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <script
      type="module"
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet-src.esm.js"
    ></script>

    <title>AWE | Accident web visaliser</title>
  </head>
  <body>
    <div class="layout">
      <aside id="filters">{{partial advanced-filter}}</aside>
      <main class="right-panel">
        <header>
          <div id="header-content">
            <h1 class="title-header">Welcome to AWE</h1>
            <p class="parahraph-header">
              AWE - Accident Web Visualizer is a tool made to explore, filter,
              and visualize accident data through interactive tables, maps, and
              charts.
            </p>
          </div>
          <div id="loading-animation" class="hidden">
            <div class="loading-text">Loading</div>
          </div>
        </header>
        <div class="right-panel-container">
          <p
            id="no-results-message"
            class="hidden"
            style="text-align: center; padding: 20px"
          >
            No accidents found for the selected criteria.
          </p>
          <section id="results" class="hidden">{{partial table}}</section>
          <section id="map"></section>
          <section id="charts" class="hidden">{{partial charts}}</section>
        </div>
      </main>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"
      defer
    ></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
